div.task-panel {
    background-color: #F2F2F2;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;
    width: 150px;
    height: 4px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    background-image:
            -moz-linear-gradient(
                    135deg,
                    transparent 33%,
                    rgba(0, 0, 0, 0.1) 33%,
                    rgba(0, 0, 0, 0.1) 66%,
                    transparent 66%
            ),
            -moz-linear-gradient(
                    top,
                    rgba(255, 255, 255, 0.25),
                    rgba(0, 0, 0, 0.25)
            ),
            -moz-linear-gradient(
                    left,
                    #008000,
                    #008000
            );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}