span.kan{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input.kan:invalid[focused="true"] ~ span{
  display: block;
}

input.kan:invalid[focused="true"]{
  border: 1px solid red;
}

label.kan{
  font-size: 12px;
  color: gray;
}

::placeholder{
  font-size: 14px;
  color: gray;
}
